.page3-container {
  display: flex;
  flex-direction: row;
  gap: 500px; 

}

.page3-item {
  display: flex;
  flex-direction: column;
  gap: 10px; 
}

.page3-item h1,
.page3-item p {
  margin: 0;
}

.right-navigation-container {
  display: flex;
  /* justify-content: flex-end; */
  justify-content: flex-end; 
  flex-grow: 1; 
}
