/* rightnavbar.css */

.right-nav {
    position: fixed; /* Add this line */
    right: 0; /* Add this line */
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .route-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .link {
    font-size: 16px;
    color: #333333;
    cursor: pointer;
  }
  
  .icon-container {
    display: inline-block;
    margin-left: 10px; /* Adjust margin as needed */
    cursor: pointer;
  }
  
  .icon-box {
    display: inline-block;
    width: 20px; /* Adjust width as needed */
    height: 20px; /* Adjust height as needed */
    background-color: #f0f0f0; /* Background color of the box */
    border-radius: 4px; /* Adjust border-radius as needed */
  }
  
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  
  .child-container {
    margin-left: 20px; /* Adjust margin as needed */
  }
  
  .child-link {
    font-size: 14px;
    color: #666666;
    cursor: pointer;
  }